/.DS_Store
**/__pycache__/
*.pyc
*.pyo
**/node_modules/
**/.vite/
.venv/
frontend/admin/dist/
frontend/portal/dist/
.env.package-lock.json
frontend/admin/node_modules/.bin/
frontend/admin/node_modules/.vite/
frontend/admin/node_modules/
docker-compose.log
.claude/
.env
.codegraph/
